.openModal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.openModalTitle {
    max-width: 400px;
    width: 100%;
    font-size: 50px;
    font-weight: 900;
    margin: 0 auto;
    padding-bottom: 50px;
}

.openModalBtn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(159, 159, 159);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 500px;
    border-radius: 12px;
    background-color: #00eeff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 15px;
    border: none;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn {
    background-color: red;
}

.btnX {
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    justify-content: end;
}